swagger: '2.0'
info:
  description: This is the API documentation for the COP 4331 Contact Manager
  version: 1.0.0
  title: Contact Manager
  contact:
    email: de225789@ucf.edu

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /Login.php:
    post:
      tags:
      - Users
      summary: Logs into Contact Manager User account
      operationId: dlLogin
      description: Logs into Contact Manager User account
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: loginItem
        description: Login
        schema:
          $ref: '#/definitions/Login'
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
  /AddContact.php:
    post:
      tags:
      - Contacts
      summary: Adds a contact
      operationId: addContact
      description: Adds a contact to the user's contact list
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        firstName: firstName
        lastName: lastName
        phone: phoneNumber
        email: emailAddress
        description: Contact
        schema:
          $ref: '#/definitions/Contact'
      responses:
        200:
          description: OK
        404:
          description: URL Not Found 
        500:
          description: Server Error
  /Register.php:
    post:
      tags:
      - Users
      summary: Enrolls new user
      operationId: register
      description: Adds new user to Users database
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        firstName: firstName
        lastName: lastName
        login: desiredUsername
        password: preferredPassword
        description: Registration
        schema:
          $ref: '#/definitions/Registration'
      responses:
        200:
          description: OK
        404:
          description: URL Not Found
        500:
          description: Server Error
          
definitions:
  Login:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "fred"
      password:
        type: string
        example: "secret"
  Contact:
    type: object
    required:
    - userId
    - firstName
    - lastName
    - phone
    - email
    properties:
      userId:
        type: integer
        example: 1
      firstName:
        type: string
        example: "Tom"
      lastName:
        type: string
        example: "Jackson"
      phone:
        type: string
        example: "234-5678"
      email:
        type: string
        example: "Tom.Jackson@email.com"
  Registration:
    type: object
    required:
    - firstName
    - lastName
    - login
    - password
    properties:
      firstName:
        type: string
        example: "Tom"
      lastName:
        type: string
        example: "Jackson"
      login:
        type: string
        example: "tjack58"
      password:
        type: string
        example: "ThisIsNotAnIdealPassword123456!!!"


host: colorsdigitalocean.xyz
basePath: /LAMPAPI
schemes:
- http